body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.chat-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background-color:greenyellow;
}

.chat-box {
    height: 200px;
    padding: 10px;
    overflow-y: scroll;
}

.input-container {
    display: flex;
    padding: 10px;
}

input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: yellow;
}

button {
    padding: 8px;
    margin-left: 5px;
    cursor: pointer;
    background-color: green;
}
